/* body */
.cuerpo-principal {
    display: flex;
    flex-direction: column;
    background-color: rgb(22, 22, 22);
    color: white;
}

/* navbar pagina principal*/
.contenedor-navbar {
    display: flex;
    width: 100%;
    height: 12vh;
    color: #fff;
}

.contenedor-nombre-navbar {
    display: flex;
    width: 40%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.contenedor-iniciosesion-navbar {
    display: flex;
    width: 57%;
    height: 100%;
    justify-content: right;
    align-items: center;
}

/* cuerpo uno, pagina principal */
.contenedor-uno-cuerpo {
    display: flex;
    width: 100%;
    height: 88vh;
}

.contenedor-uno-cuerpouno {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 85%;
}

.contenedor-uno-cuerpouno {
    .fw-bold {
        text-align: center;
        font-size: 55px;
    }
    .fw-semibold {
        text-align: center;
        font-size: 22px;
    }

    .form-control {
        background-color: transparent;
        color: white;
        width: 60%;
        height: 50px;
    }

    input::placeholder {
        color: white;
    }

    input:focus{
        border: 2px solid white;
        box-shadow:none;
    }

    .mb-3 {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .btn-primary {
        background-color: rgb(205, 129, 17);
        border: none;
        margin-left: 5px;
        width: 30%;
        height: 50px;
    }

    .btn-primary:active{
        background-color: rgb(151, 94, 13);
    }
}

.contenedor-uno-cuerpouno-uno {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
}

.contenedor-uno-cuerpodos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 80%;
}

.img-banner-div {
    display: flex;
    justify-content: right;
    width: 100%;
    height: auto;
}

.img-banner {
    width: 90%;
    height: auto;
}

.img-banner-div img{
    mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
}

/* bootstrap */
.btn-outline-light {
    font-size: 20px;
    background-color: rgb(12, 12, 12);
}

.fw-bold {
    font-size: 32px;
}
