#banner{
    width: 100%;
    background-color: blue;
    padding: 5px 10px;
    margin-bottom: 20px;
}
#banner > h1{
    color: azure;
}

#contForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contForm > form{
    background-color: lightblue;
    width: 50%;
    padding: 15px;
}